<%- include('../partials/html-head') %>

<link rel="stylesheet" href="/stylesheets/profiles/show.css">

<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  
  <h1><%= profile.name %>'s List</h1>
  <% if (profile.lists.length) { %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <% if (isSelf)  {%> 
            <th>Notes</th>
            <th>Delete</th>
          <% } %> 
        </tr>
      </thead>
      <tbody>
        <% profile.lists.forEach(list => { %>  
          <tr>
            <td><%= list.name %></td> 
            <td><%= list.category %></td>
              <% if (isSelf) {%> 
                <% if (list.notes.length) { %>
                  <td>
                    <% list.notes.forEach(note => { %>
                    <a href="/foods/<%= list._id %>/notes/<%= note._id %>">📝</a> 
                    <% }) %> 
                  </td>
                <% } else { %>
                  <td>None</td> 
                <% } %>  
                <td>  
                  <form 
                  action="/profiles/lists/<%= list._id %>?_method=DELETE" method="POST"
                  >
                  <button type="submit">X</button> <!-- HOW TO GET IT TO NOT DELETE IF ITEM IN CATEGORY LIST IS DELETED? -->
                </form>
              </td>
            <% } %> 
          </tr>
        <% }) %> 
      </tbody>
    </table>
  <% if (isSelf) {%> 
    <h1>Add a Note</h1>
    <form action="/foods/add-note" method="POST">
      <label>
        Item:
        <select name="listId">  
          <% profile.lists.forEach(list => { %>
            <option value="<%= list._id %>"><%= list.name %></option>
          <% }) %>
        </select> 
      </label>
      <label>
        Note: 
        <input type="text" name="content" autocomplete="off">
      </label>
      <button type="submit">Add Note</button>
    </form>
  <% } %>
  <% } else { %> 
    <h2><%= profile.name %> has no lists :(</h2>
  <% } %> 


</main>

<%- include('../partials/footer') %>