<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>

<h1>Notes for <%= food.name %> </h1>
<ul>
  <% food.notes.forEach(note => {  %> 
    <li><%= note.content %></li>
  <% }) %> 
</ul>

</main>

<%- include('../partials/footer') %>