<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  
  <h2><%= profile.name %>'s List</h2>
  <% if (profile.lists.length) { %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <% if (isSelf)  {%> 
            <th>Notes</th>
            <th>Delete?</th>
          <% } %> 
        </tr>
      </thead>
      <tbody>
        <% profile.lists.forEach(list => { %> 
          <tr>
            <td><%= list.name %></td> 
            <td><%= list.category %></td>
            <% if (isSelf) {%> 
              <td>
                <%= (profile.notes.length) ? `Yes` : `No` %> <!-- HOW TO MAKE IT FOR EACH ITEM? with link if "yes"? -->
              </td>
              <td>
                <form 
                action="/profiles/lists/<%= list._id %>?_method=DELETE" method="POST"
                >
                <button type="submit">X</button> <!-- HOW TO GET IT TO NOT DELETE IF ITEM IN CATEGORY LIST IS DELETED? -->
                </form>
              </td>
            <% } %> 
          </tr>
        <% }) %> 
      </tbody>
    </table>
  <% } %> 

  <% if (isSelf) {%> 
    <h2>Add a Note</h2>
    <form action="/profiles/<%= profile._id %>/notes" method="POST">
      <label>
        Item:
        <select name="topic">  <!-- HOW TO GET IT TO POPULATE NAME OF ONLY ITEMS IN LIST? -->
          <% profile.lists.forEach(list => { %>
            <option value="<%= list.name %>"><%= list.name %></option>
          <% }) %>
        </select> 
      </label>
      <label>
        Note: 
        <input type="text" name="content" autocomplete="off">
      </label>
      <button type="submit">Add Note</button>
    </form>
  <% } %>

  <% if (profile.notes.length) { %> <!-- && IF USER IS SELF-->
    <h2>
      <%= isSelf ? "You have" : `${profile.name} has` %> notes! 
    </h2>
      <% profile.notes.forEach(note => { %>
        <%= note.topic %>
        <%= note.content %>
        <% if (isSelf) { %> 
          <form 
            action="/profiles/notes/<%= note._id %>?_method=DELETE" method="POST"
          >
            <button type="submit">X</button>
          </form>
        <% } %> 
      <% }) %> 
  <% } else { %>
    <h2>
      <%= isSelf ? "You don't" : `${profile.name} doesn't` %> have any notes.
    </h2> 
  <% } %> 
</main>

<%- include('../partials/footer') %>