<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>BABY FOOD APP</h1>
  <img src="/images/auth/google/mainpic.jpeg">
  <p>Having trouble deciding what to make to eat for your new little eater? No problem! Take a look here for ideas for each different food group then pay it forward! Contribute a food idea and keep other parents from overthinking their grocery list every week. </p>
  <!-- <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img 
        src="<%= user.profile.avatar %>" 
        alt="<%= user.profile.name %> avatar"
      >
    </div>
  <% } %> -->
</main>

<%- include('./partials/footer') %>
