<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<h1> <%= title %> </h1>
  <table id="all-foods" class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Preparation</th>
        <th>Cook Time</th>
        <th>Add to My List</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% foods.forEach(function(food) { %>
        <tr>
          <td><a href="/foods/<%= food._id %>/edit"><%= food.name %></a>
          <td><%= food.preparation %></td>
          <td><%= food.cookTime %></td>

          <% if (user) { %> 
            <td>
              <form action="/profiles/lists/<%= food._id %>" method="POST"> 
                <button type="submit">Add</button>
              </form>
            </td> 
          <% } else { %> 
            <td>
              N/A
            </td>
          <% } %> 

          <% if (food.owner.equals(user?.profile._id)) { %>
            <td>
              <form action="/foods/category/<%= food._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
          </td> 
          <% } else { %> 
            <td>
              N/A
            </td>
          <% } %> 
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>