<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<h1> <%= title %> </h1>

<h1>Food Details</h1>
  <section>
    <div>Name: </div>
    <div><%= foods.name %></div>
    <div>Preparation: </div>
    <div><%= foods.preparation %></div>
    <div>Cook Time: </div>
    <div><%= foods.cookTime %></div>

</main>

<%- include('../partials/footer') %>