<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Edit <%= food.name %> </h1>
  <form action="/foods/<%= food._id %>?_method=PUT" method="POST">
    <label>Preparation:
      <select name="preparation" value="<%= food.preparation %>"> <!-- HOW TO MAKE SELECT VALUE SAME AS SELECTED? -->
        <option value="Boil">Boil</option>
        <option value="Steam">Steam</option>
        <option value="Bake">Bake</option>
        <option value="None">None</option>
      </select>
    </label><br>
    <label>Cook Time:
      <input type="number" name="cookTime" min=0 value="<%= food.cookTime %>">Mins
    </label><br>
    <button type="submit">Edit Food</button>
  </form>
</main>

<%- include('../partials/footer') %>
